<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
                </p>
                <p>
                    <a href="{% url 'todo_item_create' %}">Create a new item</a>
                </p>
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </thead>
                        <tbody>
                            {% for todos in todos.all  %} <!--- used todos.all bc that is the key variable in the views context-->
                            <tr>
                                <td>
                                    <a href="{% url 'todo_list_detail' todos.id %}">{{todos.name}}</a>
                                </td>
                                <td>
                                    {{ todos.items.all|length }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </main>

    </body>
</html>
